* {padding:0;margin:0;}
/* 登录弹窗 */
.m-modal .modal_mask{position:fixed;z-index:1;width:100%;height:100%;background-color:rgba(0,0,0,0.8);}
.m-modal .modal_wrap{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:999;width:386px;height:288px;padding-left:40px;box-sizing:border-box;background-color:#fff;font:16px/28px "微软雅黑";}
.m-modal .modal_cancel{position:absolute;top:10px;right:8px;width:10px;height:10px;background:url(../img/icon.png) no-repeat;background-position:-280px -31px;}
.m-modal .modal_cancel:hover{cursor:pointer;}
.m-modal .modal_head{margin-top:20px;}
.m-modal .modal_head{font:18px/28px "微软雅黑";}
.m-modal .modal_body{margin-top:20px;}
.m-modal .modal_body input{width:295px;height:45px;border:1px solid #dfdfdf;box-shadow:1px 1px 1px #f1f1f1 inset;}
.m-modal .modal_body input+input{margin-top:15px;}
.m-modal .modal_foot{margin-top:29px;}
.m-modal .modal_foot .login{width:293px;height:46px;background:url(../img/icon.png) no-repeat;background-position:0 -83px;box-shadow:1px 1px 0 1px #d5e3da;border:none;color:#fff;}
.m-modal .modal_message{display:none;}